// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.left-side{
  float: left;
  width: 400px;
}

div.right-side {
  float: left;
  width: 600px;
}

div.bline{

  label.id{
    display: inline-block;
    width: 40px;
  }

  label.title{
    display: inline-block;
    width: 280px;
  }

  label.active{
    background-color: #f68c8c;
  }
}

div.cadd {
  padding: 20px;
  border: 3px solid #c86a87;
  height: 80px;

  textarea {
    width: 450px;
    float: left;
  }
  button {
    float: left;
    width: 80px;
    height: 60px;
  }
}

div.clist {
  clear: both;
  margin-top: 30px;
  border-bottom:  1px solid #cccccc;
}

div.cline {
  padding: 5px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  clear: both;
  height: 90px;

  label.name {
    display: inline-block;
    width: 100px;
  }

  label.sex {
    display: inline-block;
    width: 50px;
    font-size: 9px;
    color: #555555;
  }

  label.age {
    display: inline-block;
    width: 50px;
    font-size: 9px;
    color: #555555;
  }

  div.icon {
    float: left;
    width: 50px;
  }
  div.comment{
    float: left;
    width: 500px;
    padding: 5px;
    padding-left: 20px;

  }

}
